# WordPress locale setting
WORDPRESS_LOCALE=en_US

# WordPress database settings
WORDPRESS_DB_HOST=db
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress
WORDPRESS_DB_PREFIX=wp_
WORDPRESS_DB_CHARSET=utf8
WORDPRESS_DB_COLLATE=

# WordPress installation settings
WORDPRESS_URL=http://localhost
WORDPRESS_INSTALL_TITLE="WordPress in dev container"
WORDPRESS_INSTALL_ADMIN_USER=admin
WORDPRESS_INSTALL_ADMIN_PASSWORD=password
WORDPRESS_INSTALL_ADMIN_EMAIL=admin@wordpress.local

# display resolution for "ghcr.io/devcontainers/features/desktop-lite:1"
VNC_RESOLUTION=1440x900x16
